<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    DAO-->
    <bean id="answerDao" class="ru.otus.spring.dao.impl.AnswerDaoImpl">
        <constructor-arg name="pathCsvFile" value="answer-data.csv"/>
    </bean>
    <bean id="questionDao" class="ru.otus.spring.dao.impl.QuestionDaoImpl">
        <constructor-arg name="pathCsvFile" value="question-data.csv"/>
    </bean>
    <!--    Service-->
    <bean id="answerService" class="ru.otus.spring.service.impl.AnswerServiceImpl">
        <constructor-arg name="answerDao" ref="answerDao"/>
    </bean>
    <bean id="questionService" class="ru.otus.spring.service.impl.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
        <constructor-arg name="answerService" ref="answerService"/>
    </bean>

</beans>
